.randobox{
    display: inline-block;
    width: 340px;
    height: 240px;
    background-color: rgb(219, 183, 253);
    border: 3px solid black;
    border-radius: 10px;
overflow: scroll;
vertical-align: top;

}

.imges{
float: left;
margin-top: 10px;
}

body{
    background-image: url(https://th.bing.com/th/id/R.6c8b86a4807515ccdbef1e13df8ea9a8?rik=QAUhBxG5g0iaEw&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* bg image BEST SETTINGS VH means wiewport height*/
}

.notherbox, .notherbox2{
    display: inline-block;
    width: 340px;
    height: 240px;
    background-color: rgb(188, 117, 255);
    border: 2px solid saddlebrown; 
    /* add solid before the border color, for the borderstylek */
    border-radius: 10px;
    vertical-align: top;
    text-align: left;
    margin: 10px; /* Adds space between divs */
    padding-left: 10px;

}

.boxgenerico{
display: inline-block;
width: 260px;
height: auto;
background-color: aliceblue;
border: 4px solid;
padding: 20px;
box-sizing:content-box;
text-align: center;
}

.boxpositions{
    width: 260px;
    height: 300px;
    border: 3px solid rebeccapurple;
    padding: 20px;
    box-sizing: border-box;
background-color: rgb(39, 106, 165);
}

#tryout{
    position: relative;
    left: 740px;
    top: -130px;
}

#test2{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}

#container{
    border: 2px solid;
}

#container p{
background-color: blue;
display: inline;
/* descendants are highlighted with blue */
}

#container > p{
    background-color: blueviolet;
    /* notice that only 1 and 2 are first children, because they are only inside the main div. #3 is in another div inside this onde, so it wont be a first child. */
}

#container ~ p{
background-color: pink;
/* ~represent the siblings inside the body tag, so if theyre inside a div, theyre no longer considered siblings. with + you can only style the adjacent sibling (o irmão que tá logo embaixo da div) */
}
