.btn {
    font-family: Plus Jakarta Sans;
    font-size: large;
    border-radius: 12px;
    padding: 10px;
    filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.2));
    animation-name: zoomout;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.btn:hover {
    transition: color 0.3s ease;
    background-color: rgb(226, 43, 183);
    color: antiquewhite;
    animation-name: zoomin;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.hover-color {
    font-family: Plus Jakarta Sans;
    transition: color 0.3s ease;
    font-size: 80px;
    filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.2));
}

.hover-color:hover {
    color: rgb(226, 43, 183);
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

@keyframes zoomin {
    0% {}

    100% {
        transform: scale(1.2);
        margin: 20px;
    }
}

@keyframes zoomout {
    from {
        margin: 20px;
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fullspin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animated-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #de8cff, #fff4f1, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.unorev {
    filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.2));
    height: 280px;
border-radius: 12px;
    animation-name: fullspin;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); 
    animation-iteration-count: infinite; 
}

.mochamilk{
    border: solid 3px rgb(207, 88, 108);
    border-radius: 13px;
    filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.2));
}
p{
    font-family: Plus Jakarta Sans;
}