#tipo {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman'
}

.botaoinicio {
    background-color: brown;
    border-radius: 20%;
    height: 40px;
    width: 80px;
    align-content: center;
    color: aliceblue;
    cursor: pointer;
    font-family: monospace
}