#tipo {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman'
}

.botaoinicio {
    background-color: brown;
    border-radius: 20%;
    padding: 10px 20px;
    color: aliceblue;
    cursor: pointer;
    font-family: monospace
}