body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 15px;
}

h1, h2, h3, h4, h5, h6, p ,label{
    font-family: 'Poppins';
}

.twonumbers{
    display: flex;
justify-content: start;
flex-direction: column;
    width:300px;
    height: auto;
    font-size: 10px;
    background-color: rgb(239, 176, 235);
    border-radius: 10px;
    padding: 10px;
   gap: 3px;
}

.math-ops{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
}
.numbercalc{
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    height: auto;
    gap: 15px;
    width: auto;
    padding: 20px;
}

.button-test{
    display: flex;
  align-self: center;
    width: auto;
    padding: 5px 3px;
    font-family: 'Poppins';
    background-color: #b633d3;
    color: white;
    border: 2px solid #811891;
    border-radius: 4px;
    margin: 8px;
    cursor: pointer;
}