body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.item {
    background-color: #287da7;
    color: white;
    padding: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
}

#item1 {
    align-self: baseline;
}

#item2 {
    align-self: center;
}

#item3 {
    align-self: stretch;
}
