body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 400px; /* Aumenta a altura para evidenciar o stretch */
    border: 1px solid black;
}

.item {
    padding: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 100px;
    color: white;
}

.baseline {
    background-color: #FF6347; /* Tomato */
    align-self: baseline;
    height: 50px;
}

.center {
    background-color: #4682B4; /* Steel Blue */
    align-self: center;
    height: 50px;
}

.stretch {
    background-color: #32CD32; 
    align-self: stretch;
    height: auto; 
}