ul>li:hover {
    background-color: rgb(213, 180, 243);
    display: inline;
    border-radius: 3px;
    color: rgb(73, 18, 66);
}

body {
    margin: 30px;
    height: 100vh;
    background: linear-gradient( rgb(213, 191, 241), white);
}

.texttitle {
    font-family: Outfit;
    color: rgb(101, 19, 177);
}

.textfont {
    font-family: Outfit;
}

.btns {
    color: blueviolet;
    background-color: rgb(251, 230, 255);
    border: 2px solid rgb(192, 159, 207);
    font-family: Outfit;
    border-radius: 13px;
    padding: 5px;
font-size: 20px
}

.btns:hover {
    background-color: rgb(162, 98, 177);
    color: aliceblue;
}

article {
    width: 400px;
}

p{
    font-family: Outfit;
    color: rgb(126, 4, 126);  
}

