body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 15px;
}

h1 {
    font-family: 'Cheri liney';
    color: rgb(228, 113, 132);
    filter: drop-shadow(3px 3px 3px rgba(231, 50, 50, 0.3));
}

#mute-btn {
    font-family: 'Cheri liney';
    justify-content: center;
    align-items: center;
    color: rgb(186, 91, 107);
    background-color: rgb(255, 181, 220);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    filter: drop-shadow(3px 3px 3px rgba(150, 31, 31, 0.3));
    display: flex;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 20%;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 208, 0.174);
    width: 100%;
    height: 480px;
    position: relative;
}


#arrow-left {
    left: 3px;
    margin-left: 4px;
}

#arrow-right {
    right: 3px;
    margin-right: 4px;
}

.carousel-wrapper {
    display: flex;
    background-color: rgb(245, 240, 235);
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    width: 70%;
    height: 450px;
    position: relative;
}

img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    border: 2px solid rgb(247, 155, 170);
    background-color: rgb(255, 0, 144);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    color: pink;
    filter: drop-shadow(3px 3px 3px rgb(160, 62, 114));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.2);
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes zoomout {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

img {
    display: none;
}