#tipo {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman'
}

.botaoinicio {
    background-color: brown;
    border-radius: 15px;
    padding: 10px 20px;
    color: aliceblue;
    cursor: pointer;
    font-family: monospace
}

#doguinho{
    border-radius: 15px;
float: left;
}

.floatcontainer{
    background-color: aqua;
    width:auto;
    height:auto;
display: flow-root;
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
}

.outracaixinha {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    overflow: scroll; /*permite arrastar o conteudo que não cabe de uma vez só dentro da div*/
    border: 3px solid black; /* Added border style and color */
    border-radius: 15px;
    display: block;
  
}

.caixa2 {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    overflow: clip; /*a diferença do clip pro hidden é que no clip ele só fica visivel a partir de uma certa quantia de pixels*/
    overflow-clip-margin: 4px;
    border: 3px solid black; /* Added border style and color */
    border-radius: 15px;
    margin-bottom: 60px;
  
}

#ena{
    float: right;
    margin-right: 5px;
}

#labelinput1{
    color: rgb(233, 104, 153);
    font-family: monocraft;
}

#input1{
    background-color: burlywood;
    border-radius: 15px;
    cursor: text;
    font-family: monocraft;
}

.botao{
    color: rgb(255, 255, 255);
    background-color: rgb(137, 54, 70);
    border-radius: 4px;
    font-family: 'Times New Roman'
}

.inline{
background-color: aqua;
display: inline;
}
.block{
    background-color: brown;
    display: inline-block;
    height: 200px;
    width: 100px;
}