:root {
    --corpopups: rgb(254, 250, 224);
    --preto: rgb(0, 0, 0);
    --cinzinhabasico: rgb(92, 93, 119);
    --corazulclaro: rgb(95, 98, 255);
    --cordestaque: rgb(41, 59, 255);
    --roxin: rgb(215, 94, 221);
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden; /* Garante que não apareçam barras de rolagem */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.988) 30%, rgba(0, 0, 0, 0.0) 70%), url('imgs/photo-1718725622477-297fcc090874.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(); /* Exemplo de filtro */
    z-index: -1;
}


#logomarca {
    display: flex;
  mix-blend-mode: multiply;
    margin-left: 60px;
}

nav {
    width: 100%; 
    height: 80px;
    background-color: rgba(246, 240, 255, 0.966);
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; 
    padding: 0 20px; 
    box-sizing: border-box; 
    position: sticky;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}

nav ul {
    display: flex;
    width: 100%;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-around; /* Espaça os itens uniformemente */
    font-size: 19px;
  font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0; /* Remove margens */
    padding: 0 100px; 
    list-style: none; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Baskervville;
}

nav li {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    animation-name: zoomout;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
     transition: color 0.3s ease;
}

nav li:hover{
    animation-name: zoomin;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
    color: var(--cordestaque);
}
@keyframes zoomin {
    0% {}

    100% {
        transform: scale(1.146);
    }
}

@keyframes zoomout {
    from {
        transform: scale(1.146);
    }

    to {
        transform: scale(1);
    }
}

* {
    font-family: Poppins;
}


@media (max-width: 600px) {
    nav ul {
        padding: 0; 
        flex-direction: row; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens */
    }
    nav{
        width: 140%;
    }
  
    }

