.root{
    --corpopups: (rgb(254, 250, 224));
    --preto :(rgb(0, 0, 0));
    --cinzinhabasico :(rgb(92, 93, 119));
    --corazulclaro : (rgb(95, 98, 255));
    --cordestaque : (rgb(105, 0, 252));
    --roxin : (rgb(215, 94, 221));
    --sombratop: drop-shadow(3px 3px 3px rgba(62, 46, 63, 0.3));
}



body{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0) 70%), url(imgs/photo-1718725622477-297fcc090874.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

#logomarca{
filter: invert();
}