.calcbg{
    height: 480px;
  background: radial-gradient(rgb(208, 84, 181) 15%, rgb(164, 19, 123));
    width: 270px;
    cursor: default;
    border-radius: 10px;
    display: grid;
    place-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
}

.topscreen{
    height: 90px;
    width: 240px;
    display: flex; /* Adiciona Flexbox */
    justify-content: flex-end; /* Alinha à esquerda */
    align-items: center; /* Alinha verticalmente ao centro */
    border-radius: 10px;
    margin-bottom: 340px;
    background-color: rgba(255, 218, 236, 0.362);
border-color: rgba(240, 248, 255, 0.388);
cursor: default3;
    
}

.containercalc{
    display: flex; 
    justify-content: center;
    align-self: center;
}
html, body {
    height: 100%; /* Certifique-se de que o HTML e o corpo ocupem 100% da altura */
    margin: 0; /* Remova as margens padrão */
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
background: linear-gradient(90deg,rgb(255, 140, 205),rgb(246, 226, 229));
}