body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 15px;
}

.calc-contain {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: rgb(211, 177, 235);
    padding: 30px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: 'Poppins';
}
