:root {
    --colornav: rgb(147, 115, 233);
    --colorbtns: rgb(158, 154, 250);
    --colordestaque: rgb(254, 249, 255);
    --colorselect: rgb(52, 0, 121);
    --colorcontrast: rgb(0, 0, 0);
    --colorbg: rgb(237, 225, 250);
    --sombratop: drop-shadow(3px 3px 3px rgba(62, 46, 63, 0.3));
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--colorbg);
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colornav);
    width: 100%;
    height: 60px;
    padding: 0 15%;
    filter: var(--sombratop);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    position: sticky;
    top: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    font-weight: 600;
    color: var(--colordestaque);
    filter: var(--sombratop);
    transition: color 0.3s ease;
    cursor: pointer;
}

nav ul li:hover {
    color: var(--colorselect);
}

.btns {
    padding: 6px;
    background-color: var(--colorbtns);
    color: var(--colordestaque);
    border: none;
    border-radius: 10px;
    filter: var(--sombratop);
    cursor: pointer;
    animation-name: zoomout;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.btns:hover {
    animation-name: zoomin;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes zoomin {
    0% {}

    100% {
        transform: scale(1.1);
    }
}

@keyframes zoomout {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

* {
    font-family: Poppins;
}

.testing {
    margin-top: 100px;
    width: 200px;
    height: 2000px;
    background-color: aliceblue;
}