.startbtn {
    border-radius: 15px;
    font-family: 'Poppins';
    outline-offset: 0px;
    background: radial-gradient(rgb(255, 255, 255), rgb(185, 193, 228));
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    margin: 10px;


}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(246, 246, 251), rgb(155, 155, 200));
}

.highcaps {
    font-family: 'Poppins';
    font-size: 70px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    ;
}

.lowcaps {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 0.1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: default;

}

.container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;

}

.backgroundfinal{
 background-color: aqua;
}

.rules {
    font-size: 12px;
    line-height: 20px;
    line-height: 10%;
    cursor: default;
    font-family: "Poppins"


}

/* o primeiro px é movimento p/ horizontal, o 2° pra baixo, o 3° pra add blur, o ultimo pra opacidade */
.img2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    ;
    ;
}

.textosinicio {
    line-height: 0.1;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: default;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    word-spacing: -2px;
}

.botoes {
    margin-top: 10px;
    /* Aumente o valor conforme necessário */
}

.startbtn:hover {
    background: radial-gradient(rgb(217, 217, 248), rgb(119, 138, 245));
}

#countdowncolor {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 200px;
}

/* SETTINGS TO CENTER display: grid;
    place-items: center;
    height: 100vh;*/

