:root {
  --darkblue: rgb(20, 33, 61);
  --vividyellow: rgb(252, 163, 17); 
  --greyish: rgb(229, 229, 229);
  --coolshadow: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  --coolblur: brightness(0.4) blur(1px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.paintlogo {
  height: 50px;
  display: flex;
  filter: invert();
  align-self: center;
}

.newsletter-backdrop {
  width: auto;
  height: 250px;
  background-image: url('imgs/art-museum-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  /* eu meio que desisti do pseudoelemento */
}
.newsletter-backdrop > * {
  z-index: 2;
}


.nl-text {
  display: flex;
  flex-direction: column;
  width: 350px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  filter: var(--coolshadow);
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.nl-text h1 {
  font-size: 40px;
}

.newsletter-signup {
  background-color: var(--greyish);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .nl-text {
    width: 80%;
    margin-left: 10px;
  }
  .nl-text h1{
    font-size: 40px;
  }

  .newsletter-signup {
    width: 60%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .nl-text {
    width: 90%;
    font-size: 13px;
    margin-left: 5px;
  }
.nl-text h1{
  font-size: 35px;
}

}