* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

.hamb-nav {
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 10px;
   position: sticky;
  }

  .paintlogo{
    height: 50px;
    display: flex;
    filter: invert();
    align-self: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
  
  .menu-hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .menu-hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }

.contain-test{
    width:fit-content;
    padding: 15px;
    background-color: aquamarine;
    height: 700px;
}

#nav-item{
    color: white;
    transition: color 0.3s ease; 
}
#nav-item :hover {
    color: red;
}

  
  /* Estilos para telas menores */
  @media (max-width: 768px) {
    .menu {
      display: none; /* Menu escondido em mobile */
      flex-direction: column;
      gap: 10px;
      background-color: #000;
      position: absolute;
      top: 50px;
      right: 10px;
      padding: 10px;
      border-radius: 8px;
    }
  
    .menu-hamburger {
      display: flex;
    }
  
    .menu.active {
      display: flex;
    }
  }
  