:root {
  --darkblue: rgb(20, 33, 61);
  --vividyellow: rgb(252, 163, 17);
  --greyish: rgb(229, 229, 229);
  --coolshadow: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  --coolblur: brightness(0.4) blur(1px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-decoration: none;
  color: inherit;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));

}

button {
  color: #000000;
  background-color: #ffffff00;
  border: solid 2px;
  border-radius: 6px;
  padding: 8px;
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: var(--darkblue);
  cursor: pointer;
}

#end-btn {
  color: #fff0f0;
  background-color: #ffffff00;
  border: solid 1px;
  border-radius: 6px;
  padding: 8px;
  transition: color 0.2s ease-in-out;
}

#end-btn:hover {
  color: #fff;
  background-color: var(--darkblue);
  cursor: pointer;
}


.end-footer {
  width: auto;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.end-footer h2 {
  color: #fff;
  font-size: 18px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
}

.header {
  background-color: rgb(0, 0, 0);
  padding-inline: 18px;
  position: sticky;
  top: 0;
  z-index: 100;
  /* garante que o cabeçalho esteja sobre outros elementos */
}

.hamb-nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  cursor: pointer;
  color: var(--vividyellow);
}

.paintlogo {
  height: 50px;
  display: flex;
  filter: invert();
  align-self: center;
}

.main-content {
  height: calc(100vh - 70px);
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.hamb-popup {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;
  max-width: 300px;
  height: auto;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hamb-popup.active {
  display: flex;
  /* mostra o popup quando uma classe ativa está acionada*/
}


.popup {
  background-color: #000000;
  width: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
}


.popup-menu a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.popup-menu a:hover {
  cursor: pointer;
  color: var(--vividyellow);
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.newsletter-backdrop {
  width: 100%;
  /* Ensure it takes full width of its container */
  height: 250px;
  background-image: url('imgs/art-museum-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nl-text {
  display: flex;
  flex-direction: column;
  width: 350px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  filter: var(--coolshadow);
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.nl-text h1 {
  font-size: 40px;
}

.newsletter-signup {
  background-color: var(--greyish);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.monthly-pieces {
  width: auto;
  height: 300px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.monthly-section {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 200px;
  margin: 10px;

  background-color: var(--vividyellow);
  justify-content: space-around;
  margin: 10px;
  border-radius: 15px;
  padding: 15px;
}

.flip-container {
  width: 220px;
  height: 160px;
  padding: 10px;
  perspective: 1000px;
  /* perspectiva pro 3D */
}

.monthly-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.monthly-flip:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-front {
  padding: 14px;
  color: #fff;
  background-color: black;
  border-radius: 14px;
  flex-direction: row;
  gap: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

.card-img-flip img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.card-img-flip {
  width: 100%;
  height: 60%;
}

.card-back {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--greyish);
  transform: rotateY(180deg);
  cursor: pointer;
  padding: 10px;
}

.card-back p {
  font-size: 12px;
}

.flip-container.flipped .monthly-flip {
  transform: rotateY(180deg);
}

button.flip-button {
  display: flex;
  align-self: flex-end;
  color: white;
  border: solid 2px #fff;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

button.flip-button:hover {
  background-color: var(--darkblue);
  ;
}

.about-us {
  width: auto;
  height: 260px;
  background: linear-gradient(white, rgb(229, 229, 229)70%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#about-text {
  width: 400px;
  gap: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;

}

#about-text h2,
p {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.about-museums h4 {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.about-museums {
  width: 600px;
  gap: 15px;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.card {
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.card-image img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

/* Tag estilizada (brasil e mundo) */
.tag-br {
  display: inline-block;
  background-color: #ffe8d6;
  color: var(--vividyellow);
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 20px;
  margin-bottom: 5px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.tag-mundo {
  display: inline-block;
  background-color: var(--darkblue);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}


.card-content h3 {
  font-size: 11px;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 15px;
  text-decoration: none;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}


.museum-cards {
  display: flex;
  width: auto;
  height: 110px;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;

}


@media (max-width: 768px) {
  .nl-text {
    width: 80%;
    margin-left: 10px;
  }

  .nl-text h1 {
    font-size: 35px;
  }

  .menu {
    display: none;
  }

  .newsletter-signup {
    width: 60%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .end-footer h2 {
    color: #fff;
    font-size: 14px;
  }


  .main-content {
    z-index: 1;
  }

  .hamburger {
    display: flex;
  }

  .about-us {
    height: 700px;
    align-items: center;
  }

  .museum-cards {
    flex-direction: column;
    /* Empilha as cartas verticalmente */
    align-items: center;
    /* Centraliza as cartas */
    height: 600px;
    /* Permite que a altura seja ajustada automaticamente */
    gap: 5px;
    /* Adiciona espaço entre as cartas */
    justify-content: center;
  }

  .about-museums {
    height: 640px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .card {
    width: 45%;
    height: 90%;
    /* Faz as cartas ocuparem uma proporção maior da tela */
  }

  .card-image img {
    height: auto;
    /* Ajusta a altura da imagem para mantê-la proporcional */
  }

  .monthly-pieces {
    height: 600px;
  }

  .monthly-section {
    height: 150%;
    flex-wrap: wrap;
  }
}


@media (max-width: 480px) {
  .nl-text {
    width: 90%;
    font-size: 13px;
    margin-left: 5px;
  }

  .nl-text h1 {
    font-size: 30px;
  }

  .monthly-pieces {
    height: 200%;
  }

}

@media (max-width: 380px) {
  .about-us{
    height: 800px;
  }
  .monthly-pieces {
    height: 250%;
  }

}
